{{template "partials/header" .}}

<h1>Welcome {{.Users.Name}}</h1>
<br>
<h2>{{.Title}}</h2> 
<br>
<!-- <a href="/products/create/{{.Users.Id}}" class="btn btn-primary">Tambah Produk</a> -->
<div>
	
	<table class="table table-striped">
		<thead>
		  <tr>
			<th scope="col">#</th>
			<th scope="col">Foto Product</th>
			<th scope="col">Nama Product</th>
			<th scope="col">Deskripsi</th>
			<th scope="col">Quantity</th>
			<th scope="col">Harga</th>
			<th scope="col">Owner</th>
			<th scope="col">Detail</th>
		  </tr>
		</thead>
		<tbody>
			{{range .Products}} 
			<tr>
				<th scope="row">{{.Id}}</th>
				<td><img class="rounded mx-auto d-block " src="..\public\images\{{.Image}}" height="100" width="100" alt=""></td>
				<td>{{.Name}}</td>
				<td>{{.Deskripsi}}</td>
				<td>{{.Quantity}}</td>
				<td>{{.Price}}</td>
				<td>{{.Owner}}</td>
				<td>
					<a href="/products/detail/{{.Id}}" class="btn btn-outline-info">
							Detail</a>
				</td>
			</tr>
		  {{end}}
		  
		</tbody>
	  </table>
</div>

{{template "partials/footer" .}}